<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Libro - Re:Books</title>
</head>

<header style="background-color: #333; color: #fff; text-align: center; padding: 20px;">
    <h1 style="margin: 0;">Detalles del Libro</h1>
</header>
<%- include('../presentation_layer/partials/navigationMenu'); %>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f6f6f6; color: #333;">

    <section style="padding: 20px;">
        <h2 style="color: #333;">Información del Libro</h2>
        <ul>
            <li><strong>Título:</strong> <%= nombreLibro%></li>
            <li><strong>Autor:</strong> <%= nombresApellidos%></li>
            <li><strong>Editorial:</strong> <%= editorial%></li>
            <li><strong>Número de Páginas:</strong> <%= numPaginas%></li>
            <li><strong>Año de Publicación:</strong> <%= anhoPublicado%></li>
            <li><strong>Precio:</strong> <%= precio%></li>
        </ul>
    </section>

<footer>
    <%- include('../presentation_layer/partials/footer'); %>
</footer>


</body>

</html>
